.sports{
    .sportsTitle {
        .game{
            color: var(--icon-color);
            font-size: 28px;
        }
        span{
            color: var(--h1-color);
            font-size: 28px;
            padding-left: 5px;
            font-weight: bold;
        }
    }
    p{
        color: var(--icon-color);
        font-size: 16px;
    }

    .sportBtn{
        background: #ff0e0e;
        color: #fff;

        &::after{
            background: #ffffff;
        }
    }

    .sportTitle{
        width: 400px;
        font-size: 32px;
        position: relative;
        color: #fff;
        cursor: pointer;

        &::after{
            position: absolute;
            content: '';
            background: #ffffff;
            width: 60%;
            height: 2px;
            bottom: 0;
            left: 0;
        }
        &::before{
            position: absolute;
            content: '';
            background: #ffffff;
            width: 95%;
            height: 2px;
            bottom: 49px;
            left: 0;
        }
    }
}
.sportContainer{
    position: relative;
    height: 540px;
    border-radius: 20px;
    overflow: hidden;
    padding: 0;
    cursor: pointer;

    img{
        transition: all 1s !important;
    }
    &:hover img{
        transform: scale(1.1);
    }
    img{
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

.sportContainerDescription{
    position: absolute;
    bottom: 60px;
    left: 50px;
}

.who1{
    color: #fff !important;
}
.whoo{
    background: #fff;
}

.sportBtn2{
    background: #f5ac02 !important;
    color: #000 !important;

    &::after{
        background: #000 !important;
    }
}

.customCommentImg1{
    background: #065af6b2;
}

.sportContainer2{
    margin-left: 20px;
    width: 48.5%;
}
.sportContainer1{
    width: 48.5%;
    margin-right: 20px;
}
.roww{
    flex-wrap: nowrap;
}